{% extends 'students/std_base.html' %}
{% block content %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Users</li>
                <li class="breadcrumb-item active">Profile</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="{{ student.profile_pic.url }}" alt="Profile" class="rounded-circle">
                        <h2>{{ student.username }}</h2>
                        <h3>{{ student.clg_name }}</h3>
                        <div class="social-links mt-2">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab"
                                    data-bs-target="#profile-overview">Overview</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit
                                    Profile</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="card-title">Profile Details</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Username</div>
                                    <div class="col-lg-9 col-md-8">{{ student.username }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Email</div>
                                    <div class="col-lg-9 col-md-8">{{ student.email }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Phone number</div>
                                    <div class="col-lg-9 col-md-8">{{ student.ph_no }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Department</div>
                                    <div class="col-lg-9 col-md-8">{{ student.dep }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Year</div>
                                    <div class="col-lg-9 col-md-8">{{ student.year }}</div>
                                </div>
                            </div>

                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                <!-- Profile Edit Form -->
                                <div class="container mt-0">
                                    <form method="POST" enctype="multipart/form-data"
                                        action="{% url 'profile_update' user.id %}">
                                        {% csrf_token %}
                                        <h4 class="mb-4">Update Profile</h4>
                                        <div class="mb-3 row">
                                            <label class="col-md-4 col-form-label">Profile Image</label>
                                            <div class="col-md-8">
                                                <img src="{{ student.profile_pic.url }}" alt="Profile"
                                                    class="img-thumbnail mb-2" style="width: 100px; height: 80px;">
                                                <input type="file" class="form-control" name="profile_pic">
                                            </div>
                                        </div>

                                        <div class="mb-3 row">
                                            <label class="col-md-4 col-form-label">First Name</label>
                                            <div class="col-md-8">
                                                <input type="text" name="first_name" class="form-control"
                                                    value="{{ student.first_name }}" required>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-4 col-form-label">Last Name</label>
                                            <div class="col-md-8">
                                                <input type="text" name="last_name" class="form-control"
                                                    value="{{ student.last_name }}" required>
                                            </div>
                                        </div>

                                        <div class="mb-3 row">
                                            <label class="col-md-4 col-form-label">Phone</label>
                                            <div class="col-md-8">
                                                <input type="text" name="ph_no" class="form-control"
                                                    value="{{ student.ph_no }}" required>
                                            </div>
                                        </div>

                                        <div class="mb-3 row">
                                            <label class="col-md-4 col-form-label">Department</label>
                                            <div class="col-md-8">
                                                <input type="text" name="dep" class="form-control"
                                                    value="{{ student.dep }}" required>
                                            </div>
                                        </div>

                                        <div class="mb-3 row">
                                            <label class="col-md-4 col-form-label">Year</label>
                                            <div class="col-md-8">
                                                <input type="text" name="year" class="form-control"
                                                    value="{{ student.year }}" required>
                                            </div>
                                        </div>

                                        <div class="mb-3 row">
                                            <label class="col-md-4 col-form-label">College Name</label>
                                            <div class="col-md-8">
                                                <input type="text" name="clg_name" class="form-control"
                                                    value="{{ student.clg_name }}" required>
                                            </div>
                                        </div>

                                        <div class="mb-3 row">
                                            <label class="col-md-4 col-form-label">Course</label>
                                            <div class="col-md-8">
                                                <input type="text" name="course" class="form-control"
                                                    value="{{ student.course }}" required>
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary">Save Changes</button>
                                        </div>
                                    </form>

                                    <div class="text-center mt-3">
                                        <a href="{% url 'user_logout' %}" class="btn btn-danger">Logout</a>
                                    </div>
                                </div><!-- End Profile Edit Form -->
                            </div>
                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>

    <div class="container">
        <div class="row p-0">
            <div class="col-12 col-md-6 mb-4 text-center">
                <!-- Table for results -->
                <div class="chart-body p-0 rounded-3" style="background-color: rgb(255, 255, 255);">
                    {% comment %} <h5 class="card-title">Table with hoverable rows</h5> {% endcomment %}
                    <table class="table table-hover text-center" style="border-radius: 2px;">
                        <thead>
                            <tr>
                                <th>Exam</th>
                                <th>Marks</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in results %}
                            <tr>
                                <td>{{ result.exam.course_name }}</td>
                                <td>{{ result.marks }}</td>
                                <td>{{ result.date }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <!-- Visualization Section -->

                <div id="pieChart" style="min-height: 300px; background-color: rgb(255, 255, 255);" class="echart p-1 rounded-3"></div>
            </div>
        </div>
    </div>

    <!-- Add Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/echarts@5"></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        // Define the labels and data dynamically based on your exam results
        const labels = [{% for result in results %}'{{ result.exam.course_name }}', {% endfor %}];
        const data = [{% for result in results %}{ value: {{ result.marks }}, name: '{{ result.exam.course_name }}' }, {% endfor %}];

        // Initialize the Pie chart
        echarts.init(document.querySelector("#pieChart")).setOption({
          title: {
            text: 'Exam Results Visualization',
            subtext: 'Marks for each exam',
            left: 'center'
          },
          tooltip: {
            trigger: 'item'
          },
          legend: {
            orient: 'vertical',
            left: 'left'
          },
          series: [{
            name: 'Marks Obtained',
            type: 'pie',
            radius: '50%',
            data: data, // Dynamic data
            emphasis: {
              itemStyle: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
              }
            }
          }]
        });
      });
    </script>
    <div class="text-center mt-3">
        <a href="{% url 'generate_report_card' %}" class="btn btn-primary">Download Report Card</a>
    </div>
    

</main>
{% endblock content %}